html, body {
    height: 98%; 
    width: 98%;
    cursor: url('cursor.png'), auto;
}

a:hover { 
    cursor: url('cursor.png'), auto
}

table, th, td {
    border-collapse: collapse;
    width: 750px;
    height: 60px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
  }