html, body, a:hover {
    height: 98%; 
    width: 98%;
    cursor: url('cursor.png'), auto;
        background-color: black;
        text-decoration-color: white;
}

h1, h3, p, li, a{
    color: white
}